<!DOCTYPE HTML>
<html lang="de-DE">
<head>
	<meta charset="UTF-8">
	<title>Images</title>
	<style type="text/css">
	figure {
		float: left;
		padding: 6px;
		border: 1px solid #ddd;  
		margin: 6px;  
		text-align: center; 
		width: 300px;
	}     
	figcaption {
		color: #777;  
		border-top: 1px solid #ddd; 
		padding: 4px 2px 0 2px;
	}   	
	figcaption input {
		border: 0;
		width: 100%;
		text-align: center;
	}	
	figure img {
		width: 99%;       
		
	}  
	h2 {
		color: #565656;
		font-size: 14pt; 
		margin: 6px;
	}   
	h1 {
		color: #565656;
		font-size: 16pt;
	}
	</style>    
</head>
<body> 
	<h1>Bilder %s</h1>
	%s
	<br/ style="clear: both"> 
    %s
	<br/ style="clear: both">  
	%s
	<br/ style="clear: both"> 
	%s
	<br/ style="clear: both"> 
	%s
	<br/ style="clear: both"> 
</body>
</html>